[Unit]
Description=Run scribe

[Service]
Type=oneshot
EnvironmentFile=%h/.tokens/scribe.env
ExecStart=%h/go/bin/scribe sync
Restart=on-failure
RestartSec=10
